@page "/breeding"
@rendermode InteractiveServer

<PageTitle>Breeding</PageTitle>

<h1>Breeding</h1>

<div class="container text-center">
<p>What species are we working with today</p>
<input type="text" name="species"/>
</div>
@code {
    


}
