@page "/displayBreedingLine"
@rendermode InteractiveServer
@using Ark_Breeding_Calculator.Services
@inject DinoStateService DinoService /* DATABASE */

<PageTitle>Breeding Line</PageTitle>

<h1>Breeding Line</h1>

<select @bind="selectedValue">
    <option value="default">--Select--</option>
    @foreach (Species species in DinoService.Dinosaurs.Select(d => d.Species).Distinct().OrderBy(s => s))
    {
        <option value="@species">@species</option>
    }
</select>

<div style="display: flex; gap: 1rem;" class="container">
    @foreach (Dinosaur dinosaur in DinoService.Dinosaurs
            .Where(d => d.Species.ToString() == selectedValue))
    {
        <DinosaurCard Dinosaur="dinosaur" />
    }
</div>


@code {
    public string selectedValue;
}
