@page "/displayBreedingLine"
@rendermode InteractiveServer
@using Ark_Breeding_Calculator.Services
@inject DinoStateService DinoService /* DATABASE */

<PageTitle>Breeding Line</PageTitle>

<h1>Breeding Line</h1>


<div style="display: flex; gap: 1rem;" class="container">
    @foreach (Dinosaur dinosaur in /* DATABASE */ DinoService.Dinosaurs /* DATABASE */)
    {
        <DinosaurCard Dinosaur="dinosaur" />
    }
</div>

@code {
    // Checks the user input against the species enum to see if their input is valid
    public string CheckInput(string input)
    {
        foreach (Species species in Enum.GetValues(typeof(Species)))
        {
            if (input.ToLower() == species.ToString().ToLower())
            {
                return species.ToString();
            }
        }
        return "Nothing Found. Please try again.";
    }
}
