@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello Survivor</h1>

<p>Welcome to Aethereal Phoenix's Dinosaur Breeding App.</p>

<p>This App has been made to take the struggle out of mutation stacking.</p>