@page "/removeDino"
@rendermode InteractiveServer
@using Ark_Breeding_Calculator.Services
@inject DinoStateService DinoService /* DATABASE */

<PageTitle>Remove Dinosaur</PageTitle>

<h1>Remove Dinosur</h1>

<div style="display: flex; gap: 1rem;" class="container">
    @foreach (DinosaurModel dinosaur in /* DATABASE */ DinoService.Dinosaurs /* DATABASE */)
    {
        <button class="dino-btn">
            <DinosaurCardPartialView Dinosaur="dinosaur"/>
        </button>
    }
</div>

@code {

}
